@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bgColor: #f9f1f1;
    --primaryColor: #2f0935;
    --secondaryColor: #3e3e3e;
    --textColor: #737475;
}

* {
    direction: rtl;
    @apply
    m-0 p-0 box-border select-none
}

body {
    @apply
    bg-bgColor overflow-x-hidden
}

::-webkit-scrollbar {
    @apply
    w-[4px]
}

::-webkit-scrollbar-track {
    @apply
    bg-transparent overflow-hidden
}

::-webkit-scrollbar-thumb {
    @apply
    bg-primaryColor rounded-full
}

.wrapper {
    @apply
    w-screen min-h-screen text-textColor text-[1rem]
}

.container {
    @apply
    w-[80%]
}

label {
    @apply
    w-full block text-primaryColor font-medium mb-2
}

.label-err {
    @apply 
    text-red-400 text-[.9rem] animate-err
}

input {
    @apply
    w-full h-[45px] p-2 outline-none border-[1px] rounded-[12px] transition-colors duration-300 
    focus:border-secondaryColor cursor-pointer
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=checkbox] {
    @apply
    hidden
}

input[type=checkbox]+label {
    background: url('../assets/svg/square.svg') 100% 50% no-repeat;
    @apply
    w-full cursor-pointer pr-[35px] transition-all duration-300
}

input[type=checkbox]:checked+label {
    background: url('../assets/svg/checked.svg') 100% 50% no-repeat;
}

input[type=radio] {
    @apply
    hidden
}

input[type=radio]+label {
    background: url('../assets/svg/circle.svg') 100% 50% no-repeat;
    @apply
    w-full cursor-pointer pr-[35px] transition-all duration-300
}

input[type=radio]:checked+label {
    background: url('../assets/svg/circleDot.svg') 100% 50% no-repeat;
}

input[type=file] {
    @apply
    hidden
}

textarea {
    resize: none;
    @apply
    w-full h-[200px] p-2 outline-none border-[1px] rounded-[12px] transition-colors duration-300 
    focus:border-secondaryColor cursor-pointer
}

select {
    -webkit-appearance: none;
    appearance: none;
    background: url('../assets/svg/arrowDown.svg') 1% 50% no-repeat;
    background-size: 25px;

    @apply
    w-full h-[45px] p-2 outline-none border-[1px] rounded-[12px] transition-colors duration-300 
    focus:border-secondaryColor cursor-pointer disabled:bg-bgColor
}

*.err {
    @apply
    !border-red-400 mb-[-2px]
}

.card {
    @apply
    w-full bg-white rounded-lg shadow-md p-4 overflow-hidden
}

.card .form {
    @apply
    w-full grid grid-cols-5 gap-2
}

.save-btn,
.del-btn {
    @apply
    py-2 px-3 font-medium rounded-[15px] flex items-center gap-1 transition-colors duration-300
}

.save-btn {
    @apply
    bg-secondaryColor text-white hover:bg-primaryColor
}

.del-btn {
    @apply
    bg-transparent text-red-500 border-[1px] border-red-500 hover:bg-red-500 hover:text-white
}

.save-btn .svg,
.del-btn .svg {
    @apply
    w-5 aspect-square
}

.header {
    @apply
    w-full flex items-center justify-between
}

.title {
    @apply
    font-medium text-[2rem] min-[1700px]:text-[2.5rem] text-primaryColor
}